In [ ]:
import pandas as pd
import quandl
import datetime

In [8]:
quandl.read_key()

start =  datetime.datetime(2000,1,1)

end = datetime.date.today() 

data = quandl.get("WIKI/AMD", start_date = start, end_date = end)

data

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2000-01-03,29.94,31.19,29.38,31.00,3921600.0,0.0,1.0,14.970,15.595,14.690,15.500,7843200.0
2000-01-04,30.25,31.00,29.19,29.25,3145100.0,0.0,1.0,15.125,15.500,14.595,14.625,6290200.0
2000-01-05,29.06,29.38,28.00,29.31,4102300.0,0.0,1.0,14.530,14.690,14.000,14.655,8204600.0
2000-01-06,31.00,32.00,30.50,32.00,5744700.0,0.0,1.0,15.500,16.000,15.250,16.000,11489400.0
2000-01-07,30.81,32.81,30.75,32.50,4271700.0,0.0,1.0,15.405,16.405,15.375,16.250,8543400.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2018-03-21,11.16,11.34,11.11,11.26,44453537.0,0.0,1.0,11.160,11.340,11.110,11.260,44453537.0
2018-03-22,11.10,11.26,10.85,10.91,59569610.0,0.0,1.0,11.100,11.260,10.850,10.910,59569610.0
2018-03-23,10.91,10.97,10.57,10.63,54661263.0,0.0,1.0,10.910,10.970,10.570,10.630,54661263.0
2018-03-26,10.71,10.80,10.18,10.44,75239343.0,0.0,1.0,10.710,10.800,10.180,10.440,75239343.0
2018-03-27,10.51,10.59,9.90,10.00,68157322.0,0.0,1.0,10.510,10.590,9.900,10.000,68157322.0